Repository zaneriley/famichat: changes, and which lefthook commands are due for each by the changed paths.
All: format_elixir, format_js

.lefthook.yml:

pre-commit:
  piped: true
  commands:
    start_containers:
      priority: 1
      run: docker compose up -d
    wait_for_web:
      priority: 2
      run: for i in $(seq 1 30); do if curl -s http://localhost:8001/up > /dev/null 2>&1; then echo "Web service is up!"; exit 0; fi; echo "Waiting for web service... (attempt $i)"; sleep 1; done; echo "Web service did not come up in time"; exit 0
    format_elixir:
      priority: 3
      glob: "*.{ex,exs}"
      run: cd $(git rev-parse --show-toplevel)/backend && ./run mix format "$(echo {staged_files} | tr ' ' ',')" || true
    format_js:
      glob: "*.{js,jsx,ts,tsx}"
      run: cd $(git rev-parse --show-toplevel)/backend && ./run js:fix || true

pre-push-check:
  parallel: false
  commands:
    check_web_container:
      run: docker ps --filter name=famichat-web-1 --quiet
      glob: ""
    check_js_container:
      run: docker ps --filter name=famichat-js-1 --quiet
      glob: ""
    check_css_container:
      run: docker ps --filter name=famichat-css-1 --quiet
      glob: ""
    start_containers:
      priority: 1
      run: docker compose up -d
    wait_for_web:
      priority: 2
      run: for i in $(seq 1 30); do if curl -s http://localhost:8001/up > /dev/null 2>&1; then echo "Web service is up!"; exit 0; fi; echo "Waiting for web service... (attempt $i)"; sleep 1; done; echo "Web service did not come up in time"; exit 0
      glob: ""
    format_check_elixir:
      glob: "*.{ex,exs}"
      run: cd $(git rev-parse --show-toplevel)/backend && ./run mix format || true
    lint_elixir:
      glob: "*.{ex,exs}"
      run: cd $(git rev-parse --show-toplevel)/backend && ./run mix credo || true
    test_elixir:
      glob: "*.{ex,exs}"
      run: cd $(git rev-parse --show-toplevel)/backend && ./run test || true
    stop_containers:
      run: if [ -n "$(lefthook exec check_web_container)" ] && [ -n "$(lefthook exec check_js_container)" ]; then docker compose down; fi

pre-push:
  parallel: false
  commands:
    run_checks:
      run: lefthook run pre-push-check || echo "Checks failed, but push will proceed. Please fix issues before merging."

feat(spike): OpenMLS WASM spike — Path C confirmed GO
  README.md
  backend/infra/mls_wasm/.gitignore
  backend/infra/mls_wasm/Cargo.lock
  backend/infra/mls_wasm/Cargo.toml
  backend/infra/mls_wasm/js/test.mjs
  backend/infra/mls_wasm/package.json
  backend/infra/mls_wasm/src/lib.rs
  backend/run
  docs/spikes/WASM_SPIKE_DEFINITION.md
  docs/spikes/WASM_SPIKE_REPORT.md
Due: none

docs(now): update after WASM spike + E2EE architecture research
  docs/NOW.md
Due: none

feat(e2ee): fix commit gap, add process_commit, Rust tests, JS security tests
  backend/infra/mls_wasm/Cargo.toml
  backend/infra/mls_wasm/js/security_tests.mjs
  backend/infra/mls_wasm/src/lib.rs
  docs/E2EE_INTEGRATION.md
Due: none

feat(auth): add bootstrap endpoint, inviter_id propagation, and post-registration DM creation
  backend/lib/famichat/application.ex
  backend/lib/famichat/auth/onboarding.ex
  backend/lib/famichat/chat.ex
  backend/lib/famichat_web/controllers/auth_controller.ex
  backend/lib/famichat_web/router.ex
Due: format_elixir

refactor(live): replace hardcoded test user bypass with real session token auth
  backend/lib/famichat_web/live/home_live.ex
  backend/test/famichat_web/live/home_live_test.exs
Due: format_elixir

fix(auth,chat): non-idiomatic OTP validation and N+2 shared_family_id query
  backend/lib/famichat/auth/identity.ex
  backend/lib/famichat/chat/conversation_service.ex
Due: format_elixir

docs: update NOW.md and SPEC.md; add WASM spike .gitignore entries
  .gitignore
  docs/NOW.md
  docs/SPEC.md
Due: none

chore(ui): replace portfolio content with Famichat branding and i18n
  backend/assets/css/_typography.css
  backend/assets/css/app.css
  backend/assets/js/app.js
  backend/assets/tailwind.config.ts
  backend/lib/famichat_web/components/layouts/root.html.heex
  backend/lib/famichat_web/components/navigation.ex
  backend/lib/famichat_web/controllers/error_html/404.html.heex
  backend/lib/famichat_web/live/auth/invite_live.ex
  backend/lib/famichat_web/live/auth/invite_live.html.heex
  backend/lib/famichat_web/live/auth/login_live.ex
  backend/lib/famichat_web/live/auth/login_live.html.heex
  backend/lib/famichat_web/live/home_live.html.heex
  backend/lib/famichat_web/live/live_helpers.ex
  backend/priv/gettext/en/LC_MESSAGES/404.po
  backend/priv/gettext/en/LC_MESSAGES/default.po
  backend/priv/gettext/ja/LC_MESSAGES/404.po
  backend/priv/gettext/ja/LC_MESSAGES/default.po
Due: format_elixir, format_js

fix(auth): wire session cookies, OTP trust window, and passkey ceremony
  backend/assets/js/hooks/passkey_login_hook.js
  backend/assets/js/hooks/passkey_register_hook.js
  backend/lib/famichat/auth/onboarding.ex
  backend/lib/famichat/auth/passkeys/passkeys.ex
  backend/lib/famichat/auth/sessions.ex
  backend/lib/famichat/auth/tokens.ex
  backend/lib/famichat/auth/tokens/policy.ex
  backend/lib/famichat_web/controllers/auth_controller.ex
  backend/lib/famichat_web/live/home_live.ex
Due: format_elixir, format_js

feat(security): deliver channel bootstrap token over LiveView WS
  backend/assets/js/hooks/message_channel_hook.js
  backend/lib/famichat_web/channels/user_socket.ex
Due: format_elixir, format_js

feat(api): add health/me endpoints, invite validation, admin auth, and JSON error envelopes
  backend/config/dev.exs
  backend/config/test.exs
  backend/lib/famichat_web/controllers/api/chat_read_controller.ex
  backend/lib/famichat_web/controllers/error_html/410.html.heex
  backend/lib/famichat_web/controllers/error_json.ex
  backend/lib/famichat_web/controllers/fallback_controller.ex
  backend/lib/famichat_web/controllers/health_controller.ex
  backend/lib/famichat_web/controllers/root_redirect_controller.ex
  backend/lib/famichat_web/controllers/user_controller.ex
  backend/lib/famichat_web/plugs/bearer_auth.ex
  backend/lib/famichat_web/plugs/validate_invite_token.ex
  backend/lib/famichat_web/router.ex
Due: format_elixir

test(auth): add coverage for auth flow, passkey ceremony, and admin routes
  backend/test/famichat/auth/passkeys_test.exs
  backend/test/famichat_web/admin_auth_test.exs
  backend/test/famichat_web/admin_message_routes_test.exs
  backend/test/famichat_web/controllers/auth_controller_test.exs
  backend/test/famichat_web/controllers/message_test_controller_test.exs
  backend/test/famichat_web/integration/canonical_messaging_flow_test.exs
  backend/test/famichat_web/live/home_live_test.exs
Due: format_elixir

docs(decisions): add brand positioning, onboarding design docs, and ADR 011-012
  docs/brand-positioning.md
  docs/decisions/011-frontend-and-client-platform-strategy.md
  docs/decisions/012-spa-wasm-client-architecture.md
  docs/design/onboarding-backend-requirements.md
  docs/design/onboarding-l1.md
Due: none

feat(spike): add OpenMLS WASM spike harness and acceptance results
  .gitignore
  spikes/openmls-wasm/index.html
  spikes/openmls-wasm/main.js
  spikes/openmls-wasm/package-lock.json
  spikes/openmls-wasm/package.json
  spikes/openmls-wasm/playwright-results.json
  spikes/openmls-wasm/playwright.config.js
  spikes/openmls-wasm/spike-results-playwright.json
  spikes/openmls-wasm/spike.spec.js
  spikes/openmls-wasm/test-indexeddb.js
  spikes/openmls-wasm/test-performance.js
  spikes/openmls-wasm/test-worker.js
  spikes/openmls-wasm/vite.config.js
  spikes/openmls-wasm/worker.js
Due: format_js

docs(agents): add frontend design system rules for agents
  AGENTS.md
Due: none

feat(ui): wire invite flow and add conversation creation endpoint
  backend/lib/famichat_web/controllers/api/conversation_controller.ex
  backend/lib/famichat_web/live/auth/invite_live.ex
  backend/lib/famichat_web/live/auth/invite_live.html.heex
  backend/lib/famichat_web/live/home_live.html.heex
  backend/lib/famichat_web/router.ex
Due: format_elixir

feat(login): friendly passkey errors, loading state, and copy polish
  backend/assets/js/hooks/passkey_login_hook.js
  backend/lib/famichat_web/live/auth/login_live.html.heex
Due: format_js

feat(invite): success state, friendly errors, and invite flow polish
  backend/assets/js/hooks/passkey_register_hook.js
  backend/lib/famichat_web/live/auth/invite_live.ex
  backend/lib/famichat_web/live/auth/invite_live.html.heex
Due: format_elixir, format_js

feat(home): auto-connect, empty state, dev guard, and UX cleanup
  backend/lib/famichat_web/live/home_live.ex
  backend/lib/famichat_web/live/home_live.html.heex
Due: format_elixir

feat(i18n): add gettext strings for login, invite, and home improvements
  backend/priv/gettext/en/LC_MESSAGES/default.po
  backend/priv/gettext/ja/LC_MESSAGES/default.po
Due: none

fix(routing): add locale_path/2 helper and eliminate hardcoded locale URLs
  backend/lib/famichat_web/live/auth/invite_live.ex
  backend/lib/famichat_web/live/auth/login_live.ex
  backend/lib/famichat_web/live/auth/login_live.html.heex
  backend/lib/famichat_web/live/home_live.ex
  backend/lib/famichat_web/live/live_helpers.ex
Due: format_elixir

fix(errors): replace portfolio content in 404, fix locale home link, fix invalid invite fallthrough
  backend/lib/famichat_web/components/core_components.ex
  backend/lib/famichat_web/controllers/error_html.ex
  backend/lib/famichat_web/controllers/error_html/404.html.heex
  backend/lib/famichat_web/plugs/validate_invite_token.ex
  backend/priv/gettext/en/LC_MESSAGES/default.po
  backend/priv/gettext/ja/LC_MESSAGES/default.po
Due: format_elixir

fix(errors): remove dynamic_home_url calls in 500 and 410 templates
  backend/lib/famichat_web/controllers/error_html/410.html.heex
  backend/lib/famichat_web/controllers/error_html/500.html.heex
Due: none

docs(now): update state, bugs, and next steps after dogfood QA
  AGENTS.md
  docs/NOW.md
Due: none

feat(onboarding): add first-run setup and harden passkey invite flow
  backend/assets/js/app.js
  backend/assets/js/hooks/copy_to_clipboard_hook.js
  backend/assets/js/hooks/passkey_admin_setup_hook.js
  backend/assets/js/hooks/webauthn_helpers.js
  backend/config/dev.exs
  backend/get_token.exs
  backend/lib/famichat/accounts/first_run.ex
  backend/lib/famichat/accounts/user.ex
  backend/lib/famichat/auth/onboarding.ex
  backend/lib/famichat/auth/passkeys/passkeys.ex
  backend/lib/famichat/auth/pending_user_cleanup.ex
  backend/lib/famichat/auth/sessions.ex
  backend/lib/famichat/auth/tokens/policy.ex
  backend/lib/famichat_web/components/navigation.ex
  backend/lib/famichat_web/controllers/auth_controller.ex
  backend/lib/famichat_web/controllers/locale_catch_all_controller.ex
  backend/lib/famichat_web/live/admin/setup_live.ex
  backend/lib/famichat_web/live/admin/setup_live.html.heex
  backend/lib/famichat_web/live/auth/invite_live.ex
  backend/lib/famichat_web/live/auth/invite_live.html.heex
  backend/lib/famichat_web/live/auth/login_live.html.heex
  backend/lib/famichat_web/live/home_live.ex
  backend/lib/famichat_web/live/home_live.html.heex
  backend/lib/famichat_web/plugs/locale_redirection.ex
  backend/lib/famichat_web/router.ex
  backend/priv/gettext/en/LC_MESSAGES/default.po
  backend/priv/gettext/ja/LC_MESSAGES/default.po
  backend/priv/repo/migrations/20260302000001_add_pending_status_to_users.exs
  backend/priv/repo/migrations/20260302000002_add_passkeys_active_index.exs
  backend/priv/repo/migrations/20260302000003_add_invite_registration_to_kind_check.exs
  backend/query_details.exs
  backend/query_invites.exs
  backend/query_tables.exs
  backend/query_tokens.exs
  backend/query_tokens2.exs
  backend/query_users.exs
Due: format_elixir, format_js

fix(auth): support discoverable passkey login and auto-refresh sessions
  backend/assets/js/hooks/passkey_login_hook.js
  backend/lib/famichat/auth/passkeys/challenge.ex
  backend/lib/famichat/auth/passkeys/passkeys.ex
  backend/lib/famichat_web/controllers/auth_controller.ex
  backend/lib/famichat_web/plugs/session_refresh.ex
  backend/lib/famichat_web/router.ex
  backend/priv/repo/migrations/20260307013347_allow_nullable_user_id_on_webauthn_challenges.exs
Due: format_elixir, format_js

fix(devtools): rewrite db:reset to skip Docker rebuild and document ./run
  AGENTS.md
  backend/run
Due: none

fix(css): define .ac-secondary-button and fix light theme overrides
  backend/assets/css/_animal_crossing.css
  backend/assets/css/_typography.css
  backend/lib/famichat_web/components/core_components.ex
Due: format_elixir

fix(ui): strip dev artifacts and humanize error messages in views
  backend/assets/js/hooks/copy_to_clipboard_hook.js
  backend/lib/famichat/accounts/user.ex
  backend/lib/famichat_web/live/admin/setup_live.ex
  backend/lib/famichat_web/live/admin/setup_live.html.heex
  backend/lib/famichat_web/live/auth/invite_live.ex
  backend/lib/famichat_web/live/auth/invite_live.html.heex
  backend/lib/famichat_web/live/auth/login_live.ex
  backend/lib/famichat_web/live/auth/login_live.html.heex
  backend/lib/famichat_web/live/home_live.ex
  backend/lib/famichat_web/live/home_live.html.heex
Due: format_elixir, format_js

fix(js): gate debug logging behind data-debug flag in passkey hooks
  backend/assets/js/hooks/passkey_admin_setup_hook.js
  backend/assets/js/hooks/passkey_login_hook.js
  backend/assets/js/hooks/passkey_register_hook.js
Due: format_js

feat(auth): add community scope schema and migration
  backend/lib/famichat/accounts/community.ex
  backend/lib/famichat/accounts/community_scope.ex
  backend/lib/famichat/communities.ex
  backend/priv/repo/migrations/20260307020000_create_communities_and_scope_existing_rows.exs
  backend/test/famichat/accounts/community_scope_test.exs
  backend/test/famichat/communities_test.exs
Due: format_elixir

refactor(schemas): wire community_id into existing models
  backend/lib/famichat/accounts/user.ex
  backend/lib/famichat/application.ex
  backend/lib/famichat/chat.ex
  backend/lib/famichat/chat/conversation.ex
  backend/lib/famichat/chat/conversation_service.ex
  backend/lib/famichat/chat/family.ex
  backend/lib/famichat/chat/self.ex
Due: format_elixir

fix(auth): harden passkey discoverable flow and session refresh
  backend/lib/famichat/auth/identity.ex
  backend/lib/famichat/auth/onboarding.ex
  backend/lib/famichat/auth/passkeys/passkeys.ex
  backend/lib/famichat/auth/runtime/audit.ex
  backend/lib/famichat/auth/runtime/audit_log.ex
  backend/lib/famichat/auth/sessions.ex
  backend/lib/famichat_web/components/layouts/root.html.heex
  backend/lib/famichat_web/components/navigation.ex
  backend/lib/famichat_web/conn_helpers.ex
  backend/lib/famichat_web/controllers/api/conversation_controller.ex
  backend/lib/famichat_web/controllers/auth_controller.ex
  backend/lib/famichat_web/controllers/error_html/404.html.heex
  backend/lib/famichat_web/controllers/error_html/410.html.heex
  backend/lib/famichat_web/live/live_helpers.ex
  backend/lib/famichat_web/plugs/locale_redirection.ex
  backend/lib/famichat_web/plugs/session_refresh.ex
  backend/lib/famichat_web/plugs/set_locale.ex
  backend/lib/famichat_web/plugs/validate_invite_token.ex
  backend/lib/famichat_web/router.ex
  backend/lib/famichat_web/session_keys.ex
  backend/lib/famichat_web/telemetry.ex
  backend/lib/famichat_web/token_verify_cache.ex
  backend/priv/repo/migrations/20260302000002_add_passkeys_active_index.exs
  backend/priv/repo/migrations/20260307013347_allow_nullable_user_id_on_webauthn_challenges.exs
  backend/priv/repo/migrations/20260307013348_add_partial_indexes_on_webauthn_challenges.exs
Due: format_elixir

fix(onboarding): harden browser front door flows
  backend/assets/js/hooks/passkey_register_hook.js
  backend/lib/famichat_web/controllers/root_redirect_controller.ex
  backend/lib/famichat_web/live/admin/setup_live.ex
  backend/lib/famichat_web/plugs/locale_redirection.ex
  backend/lib/famichat_web/plugs/validate_invite_token.ex
  backend/test/famichat_web/live/front_door_live_test.exs
  backend/test/famichat_web/session_refresh_test.exs
  docs/NOW.md
  docs/runbooks/auth-flow.md
Due: format_elixir, format_js

fix(i18n): add gettext entries for new copy and brand voice reference
  backend/priv/gettext/default.pot
  backend/priv/gettext/en/LC_MESSAGES/default.po
  backend/priv/gettext/ja/LC_MESSAGES/default.po
  docs/brand-positioning.md
Due: none

fix(security): harden router, auth, CSP, and validation from bug bash
  backend/assets/js/app.js
  backend/config/prod.exs
  backend/lib/famichat/accounts/community.ex
  backend/lib/famichat/accounts/passkey.ex
  backend/lib/famichat/accounts/user.ex
  backend/lib/famichat/accounts/user_device.ex
  backend/lib/famichat/auth/onboarding.ex
  backend/lib/famichat/chat/family.ex
  backend/lib/famichat/chat/message.ex
  backend/lib/famichat/schema/validations.ex
  backend/lib/famichat_web/components/layouts/root.html.heex
  backend/lib/famichat_web/controllers/fallback_controller.ex
  backend/lib/famichat_web/controllers/locale_catch_all_controller.ex
  backend/lib/famichat_web/controllers/root_redirect_controller.ex
  backend/lib/famichat_web/endpoint.ex
  backend/lib/famichat_web/live/admin/setup_live.ex
  backend/lib/famichat_web/live/admin/setup_live.html.heex
  backend/lib/famichat_web/live/auth/family_setup_live.ex
  backend/lib/famichat_web/live/auth/invite_live.ex
  backend/lib/famichat_web/live/live_helpers.ex
  backend/lib/famichat_web/plugs/csp_header.ex
  backend/lib/famichat_web/plugs/csp_header/dev.ex
  backend/lib/famichat_web/plugs/csp_header/prod.ex
  backend/lib/famichat_web/plugs/locale_redirection.ex
  backend/lib/famichat_web/plugs/set_locale.ex
  backend/lib/famichat_web/router.ex
  backend/priv/repo/migrations/20260309100000_add_string_length_check_constraints.exs
  backend/test/famichat_web/integration/security_baseline_test.exs
  backend/test/famichat_web/live/auth/family_setup_live_test.exs
  backend/test/famichat_web/router_test.exs
  backend/test/famichat_web/routing/route_table_test.exs
  docs/SPEC.md
Due: format_elixir, format_js

fix(quality): review fixes and doc updates from bug bash
  backend/assets/js/app.js
  backend/lib/famichat/chat/message.ex
  backend/lib/famichat/schema/validations.ex
  backend/lib/famichat_web/endpoint.ex
  backend/lib/famichat_web/live/auth/family_setup_live.ex
  backend/lib/famichat_web/live/live_helpers.ex
  backend/lib/famichat_web/plugs/locale_redirection.ex
  docs/BACKLOG.md
  docs/NOW.md
Due: format_elixir, format_js

feat(onboarding): add family creation, context switching, and cursor pagination infra
  backend/lib/famichat/accounts/family_context.ex
  backend/lib/famichat/auth/pending_user_reaper.ex
  backend/lib/famichat/chat/conversation_summary.ex
  backend/lib/famichat/chat/user_read_cursor.ex
  backend/lib/famichat_web/controllers/family_context_controller.ex
  backend/lib/famichat_web/controllers/session_controller.ex
  backend/lib/famichat_web/live/admin/community_admin_live.ex
  backend/lib/famichat_web/live/admin/community_admin_live.html.heex
  backend/lib/famichat_web/live/auth/family_new_live.ex
  backend/lib/famichat_web/live/auth/family_new_live.html.heex
  backend/lib/famichat_web/live/auth/family_setup_live.ex
  backend/lib/famichat_web/live/auth/family_setup_live.html.heex
  backend/lib/famichat_web/plugs/put_remote_ip.ex
  backend/lib/famichat_web/plugs/validate_family_setup_token.ex
  backend/priv/repo/migrations/20260308100000_add_message_seq_to_messages.exs
  backend/priv/repo/migrations/20260308100001_create_conversation_summaries.exs
  backend/priv/repo/migrations/20260308100002_create_user_read_cursors.exs
  backend/priv/repo/migrations/20260308100003_backfill_message_seq_and_summaries.exs
  backend/priv/repo/migrations/20260308100004_drop_old_pagination_index.exs
  backend/priv/repo/migrations/20260308200000_add_family_setup_token_kind.exs
  backend/priv/repo/migrations/20260308200001_fix_invite_token_audience.exs
  backend/priv/repo/migrations/20260308300000_add_last_active_family_id_to_users.exs
  backend/test/famichat/auth/pending_user_reaper_test.exs
  backend/test/famichat/chat/family_test.exs
  backend/test/famichat_web/plugs/put_remote_ip_test.exs
Due: format_elixir
