Repository zaneriley/famichat: changes, and which lefthook commands are due for each by the changed paths.
All: format_elixir, format_js

.lefthook.yml:

pre-commit:
  piped: true
  commands:
    start_containers:
      priority: 1
      run: docker compose up -d
    wait_for_web:
      priority: 2
      run: for i in $(seq 1 30); do if curl -s http://localhost:8001/up > /dev/null 2>&1; then echo "Web service is up!"; exit 0; fi; echo "Waiting for web service... (attempt $i)"; sleep 1; done; echo "Web service did not come up in time"; exit 0
    format_elixir:
      priority: 3
      glob: "*.{ex,exs}"
      run: cd $(git rev-parse --show-toplevel)/backend && ./run mix format "$(echo {staged_files} | tr ' ' ',')" || true
    format_js:
      glob: "*.{js,jsx,ts,tsx}"
      run: cd $(git rev-parse --show-toplevel)/backend && ./run js:fix || true

pre-push-check:
  parallel: false
  commands:
    check_web_container:
      run: docker ps --filter name=famichat-web-1 --quiet
      glob: ""
    check_js_container:
      run: docker ps --filter name=famichat-js-1 --quiet
      glob: ""
    check_css_container:
      run: docker ps --filter name=famichat-css-1 --quiet
      glob: ""
    start_containers:
      priority: 1
      run: docker compose up -d
    wait_for_web:
      priority: 2
      run: for i in $(seq 1 30); do if curl -s http://localhost:8001/up > /dev/null 2>&1; then echo "Web service is up!"; exit 0; fi; echo "Waiting for web service... (attempt $i)"; sleep 1; done; echo "Web service did not come up in time"; exit 0
      glob: ""
    format_check_elixir:
      glob: "*.{ex,exs}"
      run: cd $(git rev-parse --show-toplevel)/backend && ./run mix format || true
    lint_elixir:
      glob: "*.{ex,exs}"
      run: cd $(git rev-parse --show-toplevel)/backend && ./run mix credo || true
    test_elixir:
      glob: "*.{ex,exs}"
      run: cd $(git rev-parse --show-toplevel)/backend && ./run test || true
    stop_containers:
      run: if [ -n "$(lefthook exec check_web_container)" ] && [ -n "$(lefthook exec check_js_container)" ]; then docker compose down; fi

pre-push:
  parallel: false
  commands:
    run_checks:
      run: lefthook run pre-push-check || echo "Checks failed, but push will proceed. Please fix issues before merging."

docs(sprint9): add MLS Rust NIF contract deep dive
  docs/sprints/9.0-mls-rust-nif-contract-deep-dive.md
  docs/sprints/ROADMAP.md
  docs/sprints/STATUS.md
Due: none

docs(sprint9): add MLS contract TDD-first implementation plan
  docs/sprints/9.1-mls-contract-tdd-plan.md
  docs/sprints/ROADMAP.md
  docs/sprints/STATUS.md
Due: none

test(chat): add high-ROI self ownership characterization coverage
  backend/test/famichat/chat/conversation_access_test.exs
  backend/test/famichat/chat/conversation_service_test.exs
  backend/test/famichat_web/channels/message_channel_test.exs
  backend/test/famichat_web/controllers/message_test_controller_test.exs
  backend/test/famichat_web/controllers/test_broadcast_controller_test.exs
Due: format_elixir

docs: align MLS docs and sprint references
  docs/API-DESIGN.md
  docs/ARCHITECTURE.md
  docs/ENCRYPTION.md
  docs/LAYER-DEPENDENCIES.md
  docs/OPEN-QUESTIONS.md
  docs/PERFORMANCE.md
  docs/PRODUCT-LAYERS.md
  docs/VISION.md
  docs/sprints/9.0-mls-rust-nif-contract-deep-dive.md
  docs/sprints/9.1-mls-contract-tdd-plan.md
  docs/sprints/CURRENT-SPRINT.md
  docs/sprints/ROADMAP.md
  docs/sprints/STATUS.md
Due: none

feat(chat): harden self messaging ownership boundaries
  backend/assets/js/hooks/message_channel_hook.js
  backend/assets/tests/js/message_channel_hook.test.ts
  backend/lib/famichat/chat/self.ex
  backend/lib/famichat_web/channels/message_channel.ex
  backend/lib/famichat_web/controllers/message_test_controller.ex
  backend/lib/famichat_web/live/message_test_live.ex
  backend/lib/famichat_web/live/message_test_live.html.heex
  backend/test/famichat/chat/self_test.exs
  backend/test/famichat_web/channels/message_channel_test.exs
  backend/test/famichat_web/controllers/message_test_controller_test.exs
  backend/test/famichat_web/controllers/test_broadcast_controller_test.exs
Due: format_elixir, format_js

chore(rust): establish mls_nif scaffold and oracle loop
  _agents/AGENTS.md
  backend/Dockerfile
  backend/infra/mls_nif/.gitignore
  backend/infra/mls_nif/Cargo.lock
  backend/infra/mls_nif/Cargo.toml
  backend/infra/mls_nif/README.md
  backend/infra/mls_nif/rust-toolchain.toml
  backend/infra/mls_nif/src/lib.rs
  backend/run
Due: none

chore(rust): tighten loop speed and validation guardrails
  _agents/AGENTS.md
  backend/infra/mls_nif/README.md
  backend/infra/mls_nif/src/lib.rs
  backend/run
Due: none

feat(runbook): add canonical messaging verification workflow
  backend/lib/mix/tasks/famichat.runbook_seed.ex
  backend/run
  backend/test/famichat_web/controllers/message_test_controller_test.exs
  backend/test/famichat_web/integration/canonical_messaging_flow_test.exs
  backend/test/mix/tasks/famichat_runbook_seed_test.exs
  docs/NOW.md
  docs/runbooks/canonical-messaging-flow.md
  docs/sprints/CURRENT-SPRINT.md
  docs/sprints/STATUS.md
Due: format_elixir

test(authz): harden group-role edge-case concurrency coverage
  backend/test/famichat/chat/conversation_service_test.exs
  docs/NOW.md
  docs/sprints/CURRENT-SPRINT.md
  docs/sprints/STATUS.md
Due: format_elixir

fix(messaging): enforce persisted send path and actor-scoped visibility
  backend/lib/famichat/chat/conversation_visibility_service.ex
  backend/lib/famichat_web/channels/message_channel.ex
  backend/test/famichat/chat/conversation_visibility_service_test.exs
  backend/test/famichat_web/channels/message_channel_test.exs
  backend/test/famichat_web/controllers/chat_read_controller_test.exs
Due: format_elixir

docs: align encryption docs to MLS-first and deprecate Signal artifacts
  docs/ENCRYPTION.md
  docs/OPEN-QUESTIONS.md
  docs/decisions/002-encryption-approach.md
  docs/decisions/005-encryption-metadata-schema.md
  docs/decisions/006-signal-protocol-for-e2ee.md
Due: none

feat(mls): wire NIF adapter and fail-closed messaging contracts
  backend/config/config.exs
  backend/infra/mls_nif/Cargo.lock
  backend/infra/mls_nif/Cargo.toml
  backend/infra/mls_nif/README.md
  backend/infra/mls_nif/src/lib.rs
  backend/lib/famichat/chat/message_service.ex
  backend/lib/famichat/crypto/mls.ex
  backend/lib/famichat/crypto/mls/adapter.ex
  backend/lib/famichat/crypto/mls/adapter/nif.ex
  backend/lib/famichat/crypto/mls/adapter/unimplemented.ex
  backend/lib/famichat/crypto/mls/nif_bridge.ex
  backend/mix.exs
  backend/mix.lock
  backend/test/famichat/chat/message_service_mls_contract_test.exs
  backend/test/famichat/crypto/mls/adapter_contract_test.exs
  backend/test/famichat/crypto/mls/nif_adapter_test.exs
  backend/test/famichat/crypto/mls/protocol_invariants_test.exs
  backend/test/famichat/crypto/mls/storage_contract_test.exs
  backend/test/famichat/crypto/mls/telemetry_contract_test.exs
  backend/test/support/mls/fake_adapter.ex
Due: format_elixir

fix(messaging): harden join concealment and enforce shared message rate limits
  backend/lib/famichat/application.ex
  backend/lib/famichat/chat/message_rate_limiter.ex
  backend/lib/famichat_web/channels/message_channel.ex
  backend/lib/famichat_web/controllers/message_test_controller.ex
  backend/lib/famichat_web/messaging_dispatch.ex
  backend/test/famichat_web/channels/message_channel_test.exs
  backend/test/famichat_web/controllers/message_test_controller_test.exs
  backend/test/famichat_web/integration/canonical_messaging_flow_test.exs
Due: format_elixir

fix(mls): encrypt persisted snapshots and bound replay cache
  backend/infra/mls_nif/src/lib.rs
  backend/lib/famichat/chat/message_service.ex
  backend/test/famichat/chat/message_service_mls_contract_test.exs
  backend/test/famichat/crypto/mls/nif_adapter_test.exs
Due: format_elixir

docs(mls): align status with snapshot hardening
  docs/ENCRYPTION.md
  docs/NOW.md
  docs/sprints/ROADMAP.md
  docs/sprints/STATUS.md
Due: none

feat(mls): persist conversation security state in dedicated store
  backend/lib/famichat/chat/conversation_security_state.ex
  backend/lib/famichat/chat/conversation_security_state_store.ex
  backend/lib/famichat/chat/message_service.ex
  backend/priv/repo/migrations/20260225223500_create_conversation_security_states.exs
  backend/test/famichat/chat/conversation_security_state_store_test.exs
  backend/test/famichat/chat/message_service_mls_contract_test.exs
  docs/ARCHITECTURE.md
  docs/ENCRYPTION.md
  docs/NOW.md
  docs/ia-lexicon.md
  docs/sprints/9.2-mls-implementation-redteam-loop.md
  docs/sprints/ROADMAP.md
  docs/sprints/STATUS.md
Due: format_elixir

chore(ia): enforce boundary guardrails and align security policy naming
  backend/lib/famichat/chat/conversation_security_policy.ex
  backend/lib/famichat/chat/message_service.ex
  backend/lib/famichat_web/channels/message_channel.ex
  backend/run
  backend/test/famichat/chat/conversation_security_policy_test.exs
  docs/ARCHITECTURE.md
  docs/ENCRYPTION.md
  docs/NOW.md
  docs/ia-boundary-guardrails.md
  docs/ia-lexicon.md
  docs/sprints/CURRENT-SPRINT.md
  docs/sprints/ROADMAP.md
  docs/sprints/STATUS.md
Due: format_elixir

feat(mls): harden lifecycle fail-closed semantics
  backend/lib/famichat/chat/conversation_security_lifecycle.ex
  backend/test/famichat/chat/conversation_security_lifecycle_test.exs
  backend/test/famichat/chat/message_service_mls_contract_test.exs
  backend/test/support/mls/fake_adapter.ex
  docs/ENCRYPTION.md
  docs/NOW.md
  docs/sprints/9.2-mls-implementation-redteam-loop.md
  docs/sprints/ROADMAP.md
  docs/sprints/STATUS.md
Due: format_elixir

feat(mls): harden key package inventory invariants
  backend/infra/mls_nif/src/lib.rs
  backend/lib/famichat/chat.ex
  backend/lib/famichat/chat/conversation_security_client_inventory.ex
  backend/lib/famichat/chat/conversation_security_client_inventory_store.ex
  backend/lib/famichat/chat/conversation_security_key_package_policy.ex
  backend/priv/repo/migrations/20260226143000_create_conversation_security_client_inventories.exs
  backend/test/famichat/chat/conversation_security_client_inventory_store_test.exs
  backend/test/famichat/chat/conversation_security_key_package_policy_test.exs
  backend/test/famichat/crypto/mls/nif_adapter_test.exs
  backend/test/support/mls/fake_adapter.ex
Due: format_elixir

fix(messaging): harden join concealment and send limiter
  backend/lib/famichat/chat/message_rate_limiter.ex
  backend/lib/famichat_web/channels/message_channel.ex
  backend/test/famichat/chat/message_rate_limiter_test.exs
  backend/test/famichat_web/channels/message_channel_test.exs
Due: format_elixir

feat(qa): productize live messaging probe matrix and runbook gates
  backend/lib/mix/tasks/famichat.runbook_seed_matrix.ex
  backend/run
  docs/NOW.md
  docs/runbooks/canonical-messaging-flow.md
  docs/runbooks/messaging-qa-runbook.md
  docs/sprints/CURRENT-SPRINT.md
  docs/sprints/ROADMAP.md
  docs/sprints/STATUS.md
Due: format_elixir

feat(ui): add HomeLive with Animal Crossing aesthetic
  backend/assets/css/_animal_crossing.css
  backend/lib/famichat_web/live/home_live.ex
  backend/lib/famichat_web/live/home_live.html.heex
  backend/lib/famichat_web/router.ex
Due: format_elixir

feat(messaging): harden security lifecycle and qa execution gates
  .github/workflows/messaging-qa.yml
  backend/assets/css/_typography.css
  backend/assets/css/app.css
  backend/lib/famichat/auth/sessions.ex
  backend/lib/famichat/chat.ex
  backend/lib/famichat/chat/conversation_security_lifecycle.ex
  backend/lib/famichat/chat/conversation_security_recovery_lifecycle.ex
  backend/lib/famichat/chat/conversation_security_revocation.ex
  backend/lib/famichat/chat/conversation_security_revocation_lifecycle.ex
  backend/lib/famichat/chat/conversation_security_revocation_store.ex
  backend/lib/famichat_web/channels/message_channel.ex
  backend/lib/famichat_web/controllers/message_test_controller.ex
  backend/lib/famichat_web/live/home_live.ex
  backend/lib/famichat_web/live/home_live.html.heex
  backend/lib/famichat_web/live/message_test_live.html.heex
  backend/lib/famichat_web/router.ex
  backend/lib/mix/tasks/famichat.runbook_seed_matrix.ex
  backend/priv/repo/migrations/20260227010000_create_conversation_security_revocations.exs
  backend/run
  backend/test/famichat/auth/recovery_redeem_test.exs
  backend/test/famichat/auth/sessions_device_binding_test.exs
  backend/test/famichat/chat/conversation_security_lifecycle_test.exs
  backend/test/famichat/chat/conversation_security_recovery_lifecycle_test.exs
  backend/test/famichat/chat/conversation_security_revocation_lifecycle_test.exs
  backend/test/famichat/chat/conversation_security_revocation_store_test.exs
  backend/test/famichat_web/admin_message_routes_test.exs
  backend/test/famichat_web/channels/message_channel_test.exs
  backend/test/famichat_web/controllers/auth_controller_test.exs
  backend/test/famichat_web/controllers/message_test_controller_test.exs
  backend/test/famichat_web/integration/canonical_messaging_flow_test.exs
  backend/test/famichat_web/integration/recovery_rejoin_security_flow_test.exs
  backend/test/famichat_web/integration/revoked_device_security_flow_test.exs
  backend/test/famichat_web/live/home_live_test.exs
  backend/test/support/mls/recovery_gate_adapter.ex
Due: format_elixir

docs(project): align mls done-state, runbooks, and agent protocol
  _agents/AGENTS.md
  docs/NOW.md
  docs/VISION.md
  docs/runbooks/autonomous-implementation-loop.md
  docs/runbooks/canonical-messaging-flow.md
  docs/runbooks/messaging-qa-runbook.md
  docs/sprints/9.4-mls-product-diff-done-state.md
  docs/sprints/ROADMAP.md
  docs/sprints/STATUS.md
Due: none

feat(spike): add local multi-actor chat launcher and security drills
  backend/assets/js/hooks/message_channel_hook.js
  backend/lib/famichat_web/live/home_live.ex
  backend/lib/famichat_web/live/home_live.html.heex
  backend/lib/famichat_web/live/spike_start_live.ex
  backend/lib/famichat_web/live/spike_start_live.html.heex
  backend/lib/famichat_web/router.ex
  backend/test/famichat_web/admin_message_routes_test.exs
  backend/test/famichat_web/live/home_live_test.exs
Due: format_elixir, format_js

fix(spike): clarify revoked reconnect state and mls toggle
  backend/config/runtime.exs
  backend/lib/famichat_web/live/home_live.ex
  backend/lib/famichat_web/live/home_live.html.heex
Due: format_elixir

feat(api): canonicalize v1 messaging write and recovery contracts
  backend/lib/famichat_web/controllers/api/chat_write_controller.ex
  backend/lib/famichat_web/controllers/auth_controller.ex
  backend/lib/famichat_web/messaging_dispatch.ex
  backend/lib/famichat_web/router.ex
  backend/lib/mix/tasks/famichat.runbook_seed.ex
  backend/lib/mix/tasks/famichat.runbook_seed_matrix.ex
  backend/run
  backend/test/famichat_web/controllers/auth_controller_test.exs
  backend/test/famichat_web/integration/api_chat_write_controller_test.exs
  backend/test/famichat_web/integration/canonical_messaging_flow_test.exs
  backend/test/famichat_web/integration/messaging_gap_contract_test.exs
  backend/test/famichat_web/integration/recovery_rejoin_security_flow_test.exs
  backend/test/famichat_web/integration/revoked_device_security_flow_test.exs
  docs/API-DESIGN.md
  docs/NOW.md
  docs/runbooks/canonical-messaging-flow.md
  docs/runbooks/messaging-qa-runbook.md
  docs/sprints/7.4.2-cli-broadcast-plan.md
  docs/sprints/9.4-mls-product-diff-done-state.md
  docs/sprints/CURRENT-SPRINT.md
  docs/sprints/STATUS.md
Due: format_elixir

feat(messaging): harden continuity gate and cursor catch-up contract
  backend/assets/js/hooks/message_channel_hook.js
  backend/lib/famichat/chat/message_service.ex
  backend/lib/famichat_web/controllers/api/chat_read_controller.ex
  backend/lib/famichat_web/live/home_live.ex
  backend/lib/famichat_web/live/home_live.html.heex
  backend/lib/famichat_web/live/spike_start_live.ex
  backend/lib/famichat_web/live/spike_start_live.html.heex
  backend/run
  backend/test/famichat/chat/message_service_test.exs
  backend/test/famichat_web/controllers/chat_read_controller_test.exs
  backend/test/famichat_web/live/home_live_test.exs
  docs/API-DESIGN.md
  docs/NOW.md
  docs/runbooks/messaging-qa-runbook.md
  docs/sprints/9.4-mls-product-diff-done-state.md
  docs/sprints/CURRENT-SPRINT.md
Due: format_elixir, format_js

docs(readme): align project status, direction, and canonical workflows
  README.md
Due: none

fix(mls): apply Phase 0 prerequisite fixes (F1-F5)
  backend/infra/mls_nif/src/lib.rs
  backend/lib/famichat/chat/conversation_security_state_store.ex
  backend/lib/famichat/chat/message_service.ex
  backend/test/famichat/chat/conversation_security_state_store_test.exs
  backend/test/famichat/chat/message_service_mls_contract_test.exs
Due: format_elixir

fix(auth+docs): revoke_device→MLS pipeline, pending_commit decode bug, device auth model docs
  backend/lib/famichat/auth/sessions.ex
  backend/lib/famichat/chat.ex
  backend/lib/famichat/chat/conversation_security_state_store.ex
  backend/lib/famichat/chat/device_mls_removal.ex
  backend/test/famichat/chat/device_mls_removal_test.exs
  docs/NOW.md
  docs/PRODUCT-LAYERS.md
  docs/VISION.md
  docs/auth-ia-ddd-refactor.md
Due: format_elixir

docs: consolidate design docs into SPEC.md
  docs/SPEC.md
Due: none

docs: archive superseded docs, rewrite NOW.md, update tooling refs
  README.md
  backend/run
  docs/NOW.md
  docs/archive/API-DESIGN.md
  docs/archive/ARCHITECTURE.md
  docs/archive/ASH.md
  docs/archive/E2EE_ARCHITECTURE_OPTIONS.md
  docs/archive/E2EE_ARCHITECTURE_SUMMARY.md
  docs/archive/E2EE_DECISION_MATRIX.md
  docs/archive/E2EE_README.md
  docs/archive/ENCRYPTION.md
  docs/archive/JTBD.md
  docs/archive/LAYER-DEPENDENCIES.md
  docs/archive/NIF_SALVAGE_PLAN.md
  docs/archive/OPEN-QUESTIONS.md
  docs/archive/PERFORMANCE.md
  docs/archive/PRODUCT-LAYERS.md
  docs/archive/VISION.md
  docs/archive/auth-ia-ddd-refactor.md
  docs/archive/auth-refactor-plan.md
  docs/archive/design/information-architecture.md
  docs/archive/design/onboarding-flows.md
  docs/archive/sprints/7.4.2-cli-broadcast-plan.md
  docs/archive/sprints/9.0-mls-rust-nif-contract-deep-dive.md
  docs/archive/sprints/9.1-mls-contract-tdd-plan.md
  docs/archive/sprints/9.2-mls-implementation-redteam-loop.md
  docs/archive/sprints/9.3-mls-definition-of-done.md
  docs/archive/sprints/9.4-mls-product-diff-done-state.md
  docs/archive/sprints/CURRENT-SPRINT.md
  docs/archive/sprints/ROADMAP.md
  docs/archive/sprints/STATUS.md
  docs/design/ascii_mockup.txt
Due: none
