Repository zaneriley/famichat: changes, and which lefthook commands are due for each by the changed paths.
All: format_elixir, format_js

.lefthook.yml:

pre-commit:
  piped: true
  commands:
    start_containers:
      priority: 1
      run: docker compose up -d
    wait_for_web:
      priority: 2
      run: for i in $(seq 1 30); do if curl -s http://localhost:8001/up > /dev/null 2>&1; then echo "Web service is up!"; exit 0; fi; echo "Waiting for web service... (attempt $i)"; sleep 1; done; echo "Web service did not come up in time"; exit 0
    format_elixir:
      priority: 3
      glob: "*.{ex,exs}"
      run: cd $(git rev-parse --show-toplevel)/backend && ./run mix format "$(echo {staged_files} | tr ' ' ',')" || true
    format_js:
      glob: "*.{js,jsx,ts,tsx}"
      run: cd $(git rev-parse --show-toplevel)/backend && ./run js:fix || true

pre-push-check:
  parallel: false
  commands:
    check_web_container:
      run: docker ps --filter name=famichat-web-1 --quiet
      glob: ""
    check_js_container:
      run: docker ps --filter name=famichat-js-1 --quiet
      glob: ""
    check_css_container:
      run: docker ps --filter name=famichat-css-1 --quiet
      glob: ""
    start_containers:
      priority: 1
      run: docker compose up -d
    wait_for_web:
      priority: 2
      run: for i in $(seq 1 30); do if curl -s http://localhost:8001/up > /dev/null 2>&1; then echo "Web service is up!"; exit 0; fi; echo "Waiting for web service... (attempt $i)"; sleep 1; done; echo "Web service did not come up in time"; exit 0
      glob: ""
    format_check_elixir:
      glob: "*.{ex,exs}"
      run: cd $(git rev-parse --show-toplevel)/backend && ./run mix format || true
    lint_elixir:
      glob: "*.{ex,exs}"
      run: cd $(git rev-parse --show-toplevel)/backend && ./run mix credo || true
    test_elixir:
      glob: "*.{ex,exs}"
      run: cd $(git rev-parse --show-toplevel)/backend && ./run test || true
    stop_containers:
      run: if [ -n "$(lefthook exec check_web_container)" ] && [ -n "$(lefthook exec check_js_container)" ]; then docker compose down; fi

pre-push:
  parallel: false
  commands:
    run_checks:
      run: lefthook run pre-push-check || echo "Checks failed, but push will proceed. Please fix issues before merging."

docs: close all P0 items, update NOW/SPEC/E2EE docs for 95eb458
  docs/BACKLOG.md
  docs/E2EE_INTEGRATION.md
  docs/NOW.md
  docs/SPEC.md
Due: none

chore: remove stale archive docs and scratch scripts
  backend/get_token.exs
  backend/query_details.exs
  backend/query_invites.exs
  backend/query_tables.exs
  backend/query_tokens.exs
  backend/query_tokens2.exs
  backend/query_users.exs
  docs/archive/API-DESIGN.md
  docs/archive/ARCHITECTURE.md
  docs/archive/ASH.md
  docs/archive/E2EE_ARCHITECTURE_OPTIONS.md
  docs/archive/E2EE_ARCHITECTURE_SUMMARY.md
  docs/archive/E2EE_DECISION_MATRIX.md
  docs/archive/E2EE_README.md
  docs/archive/ENCRYPTION.md
  docs/archive/JTBD.md
  docs/archive/LAYER-DEPENDENCIES.md
  docs/archive/NIF_SALVAGE_PLAN.md
  docs/archive/OPEN-QUESTIONS.md
  docs/archive/PERFORMANCE.md
  docs/archive/PRODUCT-LAYERS.md
  docs/archive/VISION.md
  docs/archive/auth-ia-ddd-refactor.md
  docs/archive/auth-refactor-plan.md
  docs/archive/design/information-architecture.md
  docs/archive/design/onboarding-flows.md
  docs/archive/sprints/7.4.2-cli-broadcast-plan.md
  docs/archive/sprints/9.0-mls-rust-nif-contract-deep-dive.md
  docs/archive/sprints/9.1-mls-contract-tdd-plan.md
  docs/archive/sprints/9.2-mls-implementation-redteam-loop.md
  docs/archive/sprints/9.3-mls-definition-of-done.md
  docs/archive/sprints/9.4-mls-product-diff-done-state.md
  docs/archive/sprints/CURRENT-SPRINT.md
  docs/archive/sprints/ROADMAP.md
  docs/archive/sprints/STATUS.md
  docs/design/onboarding-backend-requirements.md
  docs/design/onboarding-l1.md
Due: format_elixir

feat(onboarding): add family context switching and token policy cleanup
  backend/assets/css/_fontface.css
  backend/assets/css/_typography.css
  backend/assets/js/hooks/passkey_admin_setup_hook.js
  backend/assets/js/hooks/passkey_login_hook.js
  backend/assets/js/hooks/passkey_register_hook.js
  backend/assets/js/hooks/webauthn_helpers.js
  backend/lib/famichat/accounts/first_run.ex
  backend/lib/famichat/application.ex
  backend/lib/famichat/auth/identity.ex
  backend/lib/famichat/auth/passkeys/passkeys.ex
  backend/lib/famichat/auth/sessions.ex
  backend/lib/famichat/auth/tokens.ex
  backend/lib/famichat/auth/tokens/policy.ex
  backend/lib/famichat/chat/conversation_security_client_inventory_store.ex
  backend/lib/famichat/chat/conversation_service.ex
  backend/lib/famichat/chat/device_mls_removal.ex
  backend/lib/famichat/chat/message_service.ex
  backend/lib/famichat_web/channels/message_channel.ex
  backend/lib/famichat_web/components/layouts.ex
  backend/lib/famichat_web/components/navigation.ex
  backend/lib/famichat_web/controllers/api/chat_read_controller.ex
  backend/lib/famichat_web/controllers/auth_controller.ex
  backend/lib/famichat_web/controllers/error_html/410.html.heex
  backend/lib/famichat_web/live/auth/invite_live.html.heex
  backend/lib/famichat_web/live/auth/login_live.ex
  backend/lib/famichat_web/live/auth/login_live.html.heex
  backend/lib/famichat_web/live/home_live.ex
  backend/lib/famichat_web/live/home_live.html.heex
  backend/priv/gettext/errors.pot
  backend/test/famichat/auth/tokens_test.exs
  backend/test/famichat/chat/message_service_test.exs
  backend/test/famichat_web/controllers/chat_read_controller_test.exs
Due: format_elixir, format_js

docs: update canonical docs with IA naming, agent rules, and browser walkthrough P0s
  AGENTS.md
  docs/BACKLOG.md
  docs/NOW.md
  docs/ia-boundary-guardrails.md
  docs/ia-lexicon.md
Due: none

feat(agents): add project skills and Claude Code config
  .agents/skills/browser-walkthrough/SKILL.md
  .agents/skills/harness/SKILL.md
  .agents/skills/implement/SKILL.md
  .agents/skills/orient/SKILL.md
  .agents/skills/promote/SKILL.md
  .agents/skills/research/SKILL.md
  .agents/skills/synthesize/SKILL.md
  .claude/settings.json
  .claude/skills
  .mcp.json
Due: none

fix(agents): update harness skill references from CLAUDE.md to AGENTS.md
  .agents/skills/harness/SKILL.md
Due: none

fix(auth,web): resolve 8 browser-walkthrough blockers (3 P0, 3 P1, 2 P2)
  backend/lib/famichat/auth/onboarding.ex
  backend/lib/famichat/auth/tokens/policy.ex
  backend/lib/famichat_web/components/core_components.ex
  backend/lib/famichat_web/controllers/error_html/404.html.heex
  backend/lib/famichat_web/controllers/error_html/410.html.heex
  backend/lib/famichat_web/controllers/fallback_controller.ex
  backend/lib/famichat_web/live/admin/setup_live.ex
  backend/lib/famichat_web/live/admin/setup_live.html.heex
  backend/lib/famichat_web/plugs/set_locale.ex
  docs/BACKLOG.md
  docs/NOW.md
Due: format_elixir

docs: mark 7 browser-walkthrough items resolved (90b0d5b)
  docs/BACKLOG.md
  docs/NOW.md
Due: none

fix(auth,web): L1 dogfood blockers — auto-auth, notifications, conversation wiring, 12 ideation fixes
  .claude/settings.json
  AGENTS.md
  README.md
  backend/assets/css/_animal_crossing.css
  backend/assets/css/_typography.css
  backend/assets/js/hooks/message_channel_hook.js
  backend/config/runtime.exs
  backend/lib/famichat/accounts/user.ex
  backend/lib/famichat/application.ex
  backend/lib/famichat/auth/identity.ex
  backend/lib/famichat/auth/onboarding.ex
  backend/lib/famichat/chat/conversation.ex
  backend/lib/famichat_web/components/layouts/app.html.heex
  backend/lib/famichat_web/controllers/auth_controller.ex
  backend/lib/famichat_web/controllers/error_html/404.html.heex
  backend/lib/famichat_web/controllers/error_html/410.html.heex
  backend/lib/famichat_web/controllers/session_controller.ex
  backend/lib/famichat_web/live/admin/setup_live.ex
  backend/lib/famichat_web/live/admin/setup_live.html.heex
  backend/lib/famichat_web/live/auth/family_new_live.ex
  backend/lib/famichat_web/live/auth/family_setup_live.ex
  backend/lib/famichat_web/live/auth/invite_live.ex
  backend/lib/famichat_web/live/auth/login_live.html.heex
  backend/lib/famichat_web/live/home_live.ex
  backend/lib/famichat_web/live/home_live.html.heex
  backend/lib/famichat_web/live/live_helpers.ex
  backend/lib/famichat_web/messaging_dispatch.ex
  backend/priv/gettext/default.pot
  backend/priv/gettext/en/LC_MESSAGES/default.po
  backend/priv/gettext/ja/LC_MESSAGES/default.po
  backend/priv/gettext/ja/LC_MESSAGES/errors.po
  backend/priv/repo/migrations/20260309200000_add_locale_to_users.exs
  backend/run
  docs/BACKLOG.md
  docs/NOW.md
  docs/SPEC.md
  docs/runbooks/messaging-qa-runbook.md
Due: format_elixir, format_js

fix(web,i18n,config): close remaining P0 dogfood blockers + review cleanup
  backend/.env.production.example
  backend/.gitignore
  backend/config/config.exs
  backend/config/dev.exs
  backend/config/runtime.exs
  backend/lib/famichat/auth/tokens/policy.ex
  backend/lib/famichat_web/controllers/root_redirect_controller.ex
  backend/lib/famichat_web/endpoint.ex
  backend/lib/famichat_web/live/admin/setup_live.html.heex
  backend/lib/famichat_web/live/auth/invite_live.ex
  backend/lib/famichat_web/live/auth/invite_live.html.heex
  backend/lib/famichat_web/live/home_live.html.heex
  backend/lib/famichat_web/live/live_helpers.ex
  backend/lib/famichat_web/plugs/csp_header.ex
  backend/lib/famichat_web/plugs/session_refresh.ex
  backend/priv/gettext/default.pot
  backend/priv/gettext/en/LC_MESSAGES/404.po
  backend/priv/gettext/en/LC_MESSAGES/default.po
  backend/priv/gettext/ja/LC_MESSAGES/404.po
  backend/priv/gettext/ja/LC_MESSAGES/default.po
  backend/priv/gettext/ja/LC_MESSAGES/errors.po
  backend/priv/repo/migrations/20260310100000_add_locale_check_constraint.exs
  docs/brand-positioning.md
Due: format_elixir

docs: update NOW.md and BACKLOG.md — all P0s closed, L1 deployable
  docs/BACKLOG.md
  docs/NOW.md
Due: none

feat(auth,chat,web): resolve 7 P1 confidence items — reapers, rate limit, passkey UX, receipts note
  backend/lib/famichat/application.ex
  backend/lib/famichat/auth/onboarding.ex
  backend/lib/famichat/auth/rate_limit/buckets.ex
  backend/lib/famichat/auth/token_cleanup.ex
  backend/lib/famichat/auth/token_reaper.ex
  backend/lib/famichat/chat/orphan_family_cleanup.ex
  backend/lib/famichat/chat/orphan_family_reaper.ex
  backend/lib/famichat_web/live/auth/login_live.ex
  backend/lib/famichat_web/live/auth/login_live.html.heex
  backend/lib/famichat_web/live/home_live.ex
  backend/lib/famichat_web/live/home_live.html.heex
  backend/priv/gettext/default.pot
  backend/priv/gettext/en/LC_MESSAGES/default.po
  backend/priv/gettext/ja/LC_MESSAGES/default.po
Due: format_elixir

docs: update NOW.md and BACKLOG.md — P1s closed, homelab deployment decided
  docs/BACKLOG.md
  docs/NOW.md
Due: none

fix(web,config): harden production security defaults — secure cookie, CSP scoping, WebSocket origin check
  backend/config/runtime.exs
  backend/lib/famichat_web/endpoint.ex
  backend/lib/famichat_web/plugs/csp_header.ex
  docs/BACKLOG.md
Due: format_elixir

docs: add self-hosting/security-defaults.md — operator-facing security evidence
  docs/self-hosting/security-defaults.md
Due: none

docs: update NOW.md and BACKLOG.md — 5 security config P1s closed, self-hosting docs started
  docs/BACKLOG.md
  docs/NOW.md
Due: none

fix(config,compose): harden compose defaults and env example for self-hosting
  backend/.env.production.example
  backend/config/runtime.exs
  backend/docker-compose.production.yml
  docs/BACKLOG.md
Due: format_elixir

fix(ci,entrypoint): add Docker build validation, fix release workflow, NIF health check
  .github/workflows/build.yml
  .github/workflows/release-please.yml
  backend/bin/docker-entrypoint-web
  docs/BACKLOG.md
Due: none

feat(config): warm errors in runtime.exs + config-ux harness rules
  .agents/skills/implement/SKILL.md
  AGENTS.md
  backend/config/runtime.exs
  docs/BACKLOG.md
  docs/NOW.md
Due: format_elixir

fix(security,admin): P0 dogfood fixes + lint cleanup from 2026-03-16 browser walkthrough
  .agents/skills/browser-walkthrough/SKILL.md
  .agents/skills/harness/SKILL.md
  .github/workflows/lint.yml
  AGENTS.md
  backend/config/dev.exs
  backend/config/runtime.exs
  backend/config/test.exs
  backend/lib/famichat/accounts.ex
  backend/lib/famichat/accounts/errors.ex
  backend/lib/famichat/accounts/user.ex
  backend/lib/famichat/auth/onboarding.ex
  backend/lib/famichat/chat.ex
  backend/lib/famichat/chat/conversation_security_lifecycle.ex
  backend/lib/famichat/chat/conversation_security_revocation_lifecycle.ex
  backend/lib/famichat/chat/conversation_security_state_store.ex
  backend/lib/famichat/communities.ex
  backend/lib/famichat_web.ex
  backend/lib/famichat_web/live/admin/community_admin_live.ex
  backend/lib/famichat_web/live/admin/setup_live.ex
  backend/lib/famichat_web/live/admin/setup_live.html.heex
  backend/lib/famichat_web/live/auth/family_new_live.ex
  backend/lib/famichat_web/live/home_live.ex
  backend/lib/famichat_web/plugs/put_remote_ip.ex
  backend/lib/mix/tasks/famichat.backfill_snapshot_macs.ex
  backend/lib/mix/tasks/famichat.runbook_seed.ex
  backend/lib/mix/tasks/famichat.runbook_seed_matrix.ex
  backend/priv/repo/migrations/20260316120000_add_community_admin_to_users.exs
  backend/test/famichat/auth/passkeys/query_plan_test.exs
  backend/test/famichat_web/channels/message_channel_test.exs
  backend/test/famichat_web/live/admin/setup_live_test.exs
  backend/test/famichat_web/plugs/put_remote_ip_test.exs
  docs/BACKLOG.md
  docs/NOW.md
Due: format_elixir

fix(admin,ux): fix broken Clipboard hook and /admin/message JS crashes
  backend/lib/famichat_web/live/admin/community_admin_live.ex
  backend/lib/famichat_web/live/admin/community_admin_live.html.heex
  backend/lib/famichat_web/live/message_test_live.html.heex
  docs/BACKLOG.md
Due: format_elixir

fix(deps): patch npm vulnerabilities from Dependabot alerts
  backend/assets/package-lock.json
  backend/assets/package.json
Due: none

fix(ux,i18n): P1 invite flow, admin UX, and Japanese translation fixes
  backend/lib/famichat/auth/onboarding.ex
  backend/lib/famichat_web/live/admin/community_admin_live.ex
  backend/lib/famichat_web/live/auth/family_setup_live.ex
  backend/lib/famichat_web/live/auth/family_setup_live.html.heex
  backend/lib/famichat_web/live/auth/invite_live.ex
  backend/lib/famichat_web/live/auth/invite_live.html.heex
  backend/lib/famichat_web/live/home_live.ex
  backend/lib/famichat_web/live/home_live.html.heex
  backend/priv/gettext/ja/LC_MESSAGES/default.po
  docs/BACKLOG.md
Due: format_elixir

fix(ux): render token validation 404s within root layout
  backend/lib/famichat_web/plugs/validate_family_setup_token.ex
  backend/lib/famichat_web/plugs/validate_invite_token.ex
Due: format_elixir

chore: update README, backlog tracking, run script, and typography
  README.md
  backend/assets/css/_typography.css
  backend/run
  docs/BACKLOG.md
Due: none

docs: add writing guidelines for AI-assisted copy
  docs/writing-guidelines.md
Due: none

fix(deps): upgrade vitest 2.x→3.2.4 and vite 5.x→6.4.1
  backend/assets/package-lock.json
  backend/assets/package.json
  backend/assets/yarn.lock
Due: none

docs: promote local-first storage decisions into canonical docs
  docs/BACKLOG.md
  docs/E2EE_INTEGRATION.md
  docs/NOW.md
  docs/SPEC.md
Due: none

docs: split project tracking into MECE hot-path-optimized files
  .agents/skills/browser-walkthrough/SKILL.md
  .agents/skills/harness/SKILL.md
  .agents/skills/promote/SKILL.md
  .agents/skills/research/SKILL.md
  .agents/skills/synthesize/SKILL.md
  docs/BACKLOG-ARCHIVE.md
  docs/BACKLOG.md
  docs/DECISIONS.md
  docs/NOW.md
Due: none

fix(boundary): enforce compile-time domain boundary annotations
  backend/lib/famichat.ex
  backend/lib/famichat/accounts.ex
  backend/lib/famichat/accounts/errors.ex
  backend/lib/famichat/accounts/family_context.ex
  backend/lib/famichat/application.ex
  backend/lib/famichat/auth/auth.ex
  backend/lib/famichat/auth/households.ex
  backend/lib/famichat/auth/identity.ex
  backend/lib/famichat/auth/onboarding.ex
  backend/lib/famichat/auth/passkeys/passkeys.ex
  backend/lib/famichat/auth/rate_limit.ex
  backend/lib/famichat/auth/recovery.ex
  backend/lib/famichat/auth/sessions.ex
  backend/lib/famichat/auth/tokens.ex
  backend/lib/famichat/chat.ex
  backend/lib/famichat/chat/group_conversation_privileges.ex
  backend/lib/famichat/chat/orphan_family_cleanup.ex
  backend/lib/famichat/chat/orphan_family_reaper.ex
  backend/lib/famichat/communities.ex
  backend/lib/famichat/crypto/mls.ex
  backend/lib/famichat_web/live_error.ex
  backend/lib/famichat_web/schema_markup.ex
  backend/lib/mix/tasks/famichat.backfill_snapshot_macs.ex
Due: format_elixir

docs: archive completed boundary items and record decisions
  docs/BACKLOG-ARCHIVE.md
  docs/BACKLOG.md
  docs/DECISIONS.md
Due: none

fix(boundary): resolve remaining domain→web violations and naming drift
  backend/.credo.exs
  backend/config/runtime.exs
  backend/config/test.exs
  backend/lib/credo_checks/no_repo_in_web.ex
  backend/lib/famichat/auth/identity.ex
  backend/lib/famichat/auth/tokens/storage.ex
  backend/lib/famichat/chat.ex
  backend/lib/famichat/chat/conversation_security_device_removal.ex
  backend/lib/famichat_web/controllers/message_test_controller.ex
  backend/lib/famichat_web/controllers/root_redirect_controller.ex
  backend/lib/famichat_web/live/home_live.ex
  backend/lib/famichat_web/live/live_helpers.ex
  backend/lib/famichat_web/plugs/session_refresh.ex
  backend/test/famichat/chat/conversation_security_device_removal_test.exs
Due: format_elixir

docs: promote boundary enforcement findings into canonical docs
  backend/run
  docs/BACKLOG-ARCHIVE.md
  docs/BACKLOG.md
  docs/DECISIONS.md
  docs/brand-positioning.md
  docs/ia-boundary-guardrails.md
  docs/ia-lexicon.md
Due: none

docs: promote SPA readiness audit findings into canonical docs
  docs/BACKLOG.md
  docs/DECISIONS.md
  docs/NOW.md
  docs/SPEC.md
  docs/ia-boundary-guardrails.md
Due: none

fix(ci): make ./run work without Docker for native CI execution
  .github/workflows/lint.yml
  backend/Dockerfile
  backend/mix.exs
  backend/run
Due: format_elixir

fix(test): stabilize test suite — 0 failures, 43 known_failure tagged
  .github/workflows/ci-test.yml
  .github/workflows/lint.yml
  backend/.known_failure_ceiling
  backend/.sobelow-conf
  backend/config/runtime.exs
  backend/config/test.exs
  backend/lib/famichat/accounts/first_run.ex
  backend/run
  backend/test/famichat/accounts/facade_conformance_test.exs
  backend/test/famichat/auth/passkeys_test.exs
  backend/test/famichat/auth/pending_user_reaper_test.exs
  backend/test/famichat/chat/conversation_security_client_inventory_store_test.exs
  backend/test/famichat/chat_test.exs
  backend/test/famichat/communities_test.exs
  backend/test/famichat_web/channels/message_channel_test.exs
  backend/test/famichat_web/components/theme_switcher_test.exs
  backend/test/famichat_web/controllers/auth_controller_test.exs
  backend/test/famichat_web/controllers/chat_read_controller_test.exs
  backend/test/famichat_web/live/auth/family_setup_live_test.exs
  backend/test/famichat_web/live/front_door_live_test.exs
  backend/test/famichat_web/live/home_live_test.exs
  backend/test/famichat_web/router_test.exs
  backend/test/famichat_web/session_refresh_test.exs
  backend/test/support/fixtures/chat_fixtures.ex
  backend/test/support/plugs/csp_header_dev_test.exs
  backend/test/support/plugs/csp_header_prod_test.exs
  backend/test/test_helper.exs
Due: format_elixir

fix(test): resolve 38 of 43 known_failure tests, fix 3 production bugs
  backend/.known_failure_ceiling
  backend/lib/famichat/auth/passkeys/passkeys.ex
  backend/lib/famichat_web/channels/message_channel.ex
  backend/lib/famichat_web/telemetry.ex
  backend/test/famichat/auth/passkeys_test.exs
  backend/test/famichat/auth/pending_user_reaper_test.exs
  backend/test/famichat/communities_test.exs
  backend/test/famichat_web/channels/message_channel_test.exs
  backend/test/famichat_web/controllers/auth_controller_test.exs
  backend/test/famichat_web/controllers/chat_read_controller_test.exs
  backend/test/famichat_web/live/auth/family_setup_live_test.exs
  backend/test/famichat_web/live/front_door_live_test.exs
  backend/test/famichat_web/live/home_live_test.exs
  backend/test/support/plugs/csp_header_dev_test.exs
  backend/test/support/plugs/csp_header_prod_test.exs
Due: format_elixir

refactor(auth): simplify passkeys.ex with multi-clause pattern matching
  backend/lib/famichat/auth/passkeys/passkeys.ex
  backend/test/famichat/auth/passkeys_refactor_guard_test.exs
Due: format_elixir

chore: track C quick wins — MixEnv credo check, ErrorHTML docs, NOW.md accuracy
  backend/.credo.exs
  backend/lib/famichat/crypto/mls/nif_bridge.ex
  backend/lib/famichat_web/controllers/error_html.ex
  copy-for-llm.sh
  docker-based-elixir-environment-rules.mdc
  docs/NOW.md
Due: format_elixir
