Repository zaneriley/famichat: changes, and which lefthook commands are due for each by the changed paths.
All: format_elixir, format_js

format_elixir:
  priority: 3
  run: cd $(git rev-parse --show-toplevel)/backend && ./run mix format "$(echo {staged_files} | tr ' ' ',')" || true

format_js:
  run: cd $(git rev-parse --show-toplevel)/backend && ./run js:fix || true

docs: Update README with ExDoc documentation
  README.md
Due: none

refactor(telemetry,baseline): update telemetry best practices, overhaul baseline grid calculations, and remove legacy guidelines
  backend/.dockerignore
  backend/assets/css/_typography.css
  backend/assets/js/app.js
  backend/assets/js/hooks/message_channel_hook.js
  backend/assets/js/theme-switcher.ts
  backend/assets/tailwind.config.ts
  backend/assets/tailwind/line-height.ts
  backend/guides/telemetry.md
  backend/lib/famichat_web/channels/message_channel.ex
  backend/lib/famichat_web/components/layouts/app.html.heex
  backend/lib/famichat_web/components/navigation.ex
  backend/lib/famichat_web/controllers/test_broadcast_controller.ex
  backend/lib/famichat_web/live/message_test_live.ex
  backend/lib/famichat_web/live/message_test_live.html.heex
  backend/lib/famichat_web/live/tailwind_test_live.ex
  backend/lib/famichat_web/live/tailwind_test_live.html.heex
  backend/lib/famichat_web/plugs/csp_header.ex
  backend/lib/famichat_web/router.ex
  backend/lib/famichat_web/telemetry.ex
  backend/mix.exs
  backend/run
  backend/setup-format-check.bat
  backend/setup-format-check.sh
  backend/test/famichat_web/channels/message_channel_test.exs
  backend/test_fixes.exs
Due: format_elixir, format_js

chore(docs): Update cursor rules
  .cursor/rules/docker-based-elixir-environment-rules.mdc
  .cursor/rules/liveview-optimizations.mdc
  .cursor/rules/telemetry-best-practices.mdc
  .cursorrules.commit
  docker-based-elixir-environment-rules.mdc
Due: none

feat(chat): implement encryption-aware message serialization/deserialization
  backend/assets/css/_typography.css
  backend/lib/famichat/chat/message_service.ex
  backend/test/famichat/messages/decryption_test.exs
Due: format_elixir

docs: reorganize documentation structure
  .cursor/rules/commit-messages.mdc
  .cursor/rules/data-encryption-and-EE2E.mdc
  .cursor/rules/docker-based-elixir-environment-rules.mdc
  .cursor/rules/elixir-tests.mdc
  .cursor/rules/liveview-optimizations.mdc
  .cursor/rules/telemetry-best-practices.mdc
  CURRENT-SPRINT.md
  README.md
  ROADMAP.md
  STATUS.md
  docs/API-DESIGN.md
  docs/ARCHITECTURE.md
  docs/ENCRYPTION.md
  docs/OPEN-QUESTIONS.md
  docs/PERFORMANCE.md
  docs/VISION.md
  docs/decisions/001-conversation-types.md
  docs/decisions/002-encryption-approach.md
  docs/decisions/003-telemetry-strategy.md
  docs/decisions/004-refresh-token-rotation.md
  docs/decisions/005-encryption-metadata-schema.md
  docs/design/information-architecture.md
  docs/design/onboarding-flows.md
  docs/sprints/sprints-01-06-completed.md
  project-docs/archive/done.md
  project-docs/archive/guide.md
  project-docs/archive/project.md
  project-docs/archive/sprint.md
  project-docs/archive/telemetry.md
Due: none

docs: update tech stack from Flutter to Phoenix LiveView
  docs/JTBD.md
  docs/LAYER-DEPENDENCIES.md
  docs/PRODUCT-LAYERS.md
  docs/decisions/006-signal-protocol-for-e2ee.md
Due: none

docs: clarify encryption status and move E2EE to Sprint 9
  docs/sprints/CURRENT-SPRINT.md
  docs/sprints/ROADMAP.md
  docs/sprints/STATUS.md
Due: none

docs: update encryption docs with server-side Signal Protocol approach
  docs/ARCHITECTURE.md
  docs/ENCRYPTION.md
  docs/OPEN-QUESTIONS.md
  docs/PERFORMANCE.md
  docs/decisions/002-encryption-approach.md
Due: none

docs: update README and guides to reflect LiveView frontend
  README.md
  backend/guides/overview.md
Due: none

chore: reorganize sprint documentation and add development guidelines
  CURRENT-SPRINT.md
  README.md
  ROADMAP.md
  STATUS.md
  _agents/The Iterated Implementation Plan (v3).md
  _agents/design-system/applying-ia-and-ddd.md
  _agents/design-system/in-progress/parameter-abstractability-and-optical-corrections.md
  _agents/design-system/in-progress/typography-weight-width-architecture.md
  _agents/design-system/user-mental-models.md
  _agents/design-system/writing-documentation.md
  _agents/docker-based-environment-rules.mdc
  _agents/elixir-guidelines.mdc
  _agents/frontend-guidelines.mdc
  _agents/liveview-optimization.mdc
  _agents/telemetry-best-practices.mdc
  _agents/ux-writing-guidelines.mdc
  _agents/writing-elixir-tests.mdc
  lib/famichat/chat/conversation_service.ex
  project-docs/SPRINT7.md
  project-docs/archive/done.md
  project-docs/archive/guide.md
  project-docs/archive/project.md
  project-docs/archive/sprint.md
  project-docs/archive/telemetry.md
Due: format_elixir

chore(famichat) quiet dev warnings and tighten channel auth
  backend/config/config.exs
  backend/lib/famichat/chat/conversation_service.ex
  backend/lib/famichat/chat/message_service.ex
  backend/lib/famichat/telemetry_handler.ex
  backend/lib/famichat_web/components/navigation.ex
  backend/lib/famichat_web/live/message_test_live.ex
  backend/lib/famichat_web/live/message_test_live.html.heex
  backend/test/famichat_web/channels/message_channel_test.exs
Due: format_elixir

feat(channel) enforce datastore-backed join authorization
  backend/lib/famichat_web/channels/message_channel.ex
  backend/test/support/fixtures/chat_fixtures.ex
Due: format_elixir

chore(docker) ensure entrypoint binaries are executable
  backend/Dockerfile
Due: none

chore(deps) bump credo and refresh lockfile
  backend/mix.exs
  backend/mix.lock
Due: format_elixir

chore(assets) refresh browserslist data and generated css
  backend/assets/css/_typography.css
  backend/assets/package-lock.json
  backend/assets/yarn.lock
  backend/lib/famichat_web/live/tailwind_test_live.html.heex
Due: none

chore(routes) drop tailwind test and admin up endpoints
  backend/lib/famichat_web/live/tailwind_test_live.ex
  backend/lib/famichat_web/live/tailwind_test_live.html.heex
  backend/lib/famichat_web/router.ex
Due: format_elixir

fix(chat) enforce conversation authorization
  backend/lib/famichat/accounts.ex
  backend/lib/famichat/chat/conversation_access.ex
  backend/lib/famichat/chat/message_service.ex
  backend/lib/famichat_web/controllers/auth_controller.ex
  backend/test/famichat/chat/message_service_test.exs
  backend/test/famichat/messages/decryption_test.exs
  backend/test/famichat_web/controllers/auth_controller_test.exs
Due: format_elixir

docs(readme) update project health metrics
  README.md
Due: none

feat(security) add vault and trust infrastructure
  backend/config/runtime.exs
  backend/lib/famichat/vault.ex
  backend/lib/famichat_web/plugs/ensure_trusted.ex
Due: format_elixir

feat(auth) add passkey enrollment tracking
  backend/priv/repo/migrations/20251013094500_add_passkey_due_at_to_users.exs
  backend/priv/repo/migrations/20251014090000_add_username_fingerprint_to_users.exs
  backend/priv/repo/migrations/20251015090000_rename_passkey_due_at_to_enrollment_required_since.exs
Due: format_elixir

Path conditions:
  format_elixir: any of: *.{ex,exs}
  format_js: any of: *.{js,jsx,ts,tsx}
